/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'PROTGRAPH' {
        ext.args = { 
            "-nm -ft SIGNAL -ft ALL -d trypsin -elbpcsr_pdb 32 --pep_miscleavages 2 --pep_min_pep_length 6 -ft VARIANT -ft SIGNAL -ft INIT_MET -ft CONFLICT -ft VAR_SEQ -ft PEPTIDE -ft PROPEP -ft CHAIN -cnp -cnpvar -amw -elbpcsr"
        }
        ext.prefix = { "protgraph-${meta.id}" }
    }

    withProfile: 'conda' {
        withName: 'ADDVARIANTS' {
            ext.args = { 
                "--aa_change_func ${workflow.projectDir}/assets/python/ssdbv_reader.py:file_reader\
                --aa_change_fargs '[\"${workflow.projectDir}/assets/test_run/idmap_test_filtered.txt.gz\"]' " 
            }
        }
    }


    withName: 'FILTERMAPPING' {
        ext.args = { 
            " \'{if(\$2==\"Ensembl_TRS\") print \$3 \" \" \$1}\' "
        }
    }
}
